/* Styles */
form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 1em 0;
	border: none;
	border-top: 1px solid #ccc;
}

legend {
	margin: 1em 0;
	padding: 0 .5em;
	color: #036;
	background: transparent;
	font-size: 1.3em;
	font-weight: bold;
}

label {
	float: left;
	width: 200px;
	padding: 0 1em;
	text-align: right;
}

fieldset div {
	margin-bottom: .5em;
	padding: 0;
	display: block;
}

fieldset div input[type="text"], fieldset div textarea {
	width: 150px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 1px;
	color: #333;
}

fieldset div input[type="radio"], fieldset div input[type="checkbox"] {
	/*width: 150px; */
	border-width:4px;
}


fieldset div select {
	padding: 1px;
}

div.fm-multi div {
	margin: 5px 0;
}

div.fm-multi input {
	width: 1em;
}

div.fm-multi label {
	display: block;
	width: 200px;
	padding-left: 5em;
	text-align: left;
}

#fm-submit {
	clear: both;
	padding-top: 1em;
	text-align: center;
}

#fm-submit input {
	border: 1px solid #333;
	padding: 2px 1em;
	background: #555;
	color: #fff;
	font-size: 100%;
}

input:focus, textarea:focus {
	background: #efefef;
	color: #000;
}

	
/* required fields - does not work in IE */
fieldset div.fm-req {
	font-weight: bold;
}

fieldset div.fm-req label:before {
	content: "* "; /* does not work in IE */
}

/* Basic page styling, not part of the form example */
body 	{
	padding: 0;
	margin: 20px;
	color: #333;
	background: #fff;
	font: 12px arial,verdana,sans-serif;
	text-align: center;
}

#container {
	margin: 0 auto;
	padding: 1em;
	width: 450px;
	text-align: left;
}

p#fm-intro {
	margin: 0;
}

a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:active {text-decoration: none; color: white;}
a:hover {text-decoration: underline; color: yellow;}
.menu1{
background-image:url(images/menudiv1bg.gif);
margin-left:25px;
padding-left:20px;
padding-top:2px;
padding-bottom: 2px;
display:block;
text-decoration: none;
color: #000000;
height: 20px;
}
.submenu{
background-image: url(images/submenu.gif);
display: block;
height: 19px;
margin-left: 38px;
padding-top: 2px;
padding-left: 7px;
color: #333333;
}

.hide{
display: none;
}
.show{
display: block;
}
